.month_and_timer{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.month_input {
    width: 70px;
    height:20px
}

.time_and_day {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.time {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}