.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}


@media (min-width: 601px) {
  .selector_and_shedules {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    height: 250px;
    border-radius: 10px;
    width: 480px;
  }

  .input_div {
    margin-left: 50px;
    width: 300px;
  }
}

label:hover {
  cursor: pointer;
}


@media (max-width: 600px) {

  .selector_and_shedules {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
    height: auto; 
    border-radius: 10px;
    width: 300px;
  }

  .input_div {
    margin-top: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }


}


input {
  border: 2px solid ;
  border-radius: 0.75em;
  padding-left: 5px;
}

select {
  border: 2px solid ;
  border-radius: 0.75em;
  padding-left: 2px;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

h3 {
  margin-top: 20px;
}

input[type="number"], input[type="time"], input[type="text"], select {
  margin: 10px;
}

.selector_title {
 text-align: center;
}

.timer {
  display: flex;
  align-items: center;
}







