

select {
    width: 200px;
}

.days_selector {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5px;
}

.clock {
    width: 120px;
}

input {
    accent-color: black;
}